rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow read access to siteConfigurations for anyone
    match /siteConfigurations/{allPaths=**} {
      allow read;
    }

    // Enforce role-based access for other files
    function isRoot() {
      return request.auth.token.role == "root";
    }

    function isAdmin() {
      return request.auth.token.role == "admin";
    }

    function isUser() {
      return request.auth.token.role == "user";
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isRoot() || isAdmin();
    }

    match /kokoConfigurations/{allPaths=**} {
      allow read, write: if isRoot() || isAdmin();
      allow read: if isUser();
    }

    match /updates/{allPaths=**} {
      allow read, write: if isRoot() || isAdmin();
      allow read: if isUser();
    }

    match /messages/{allPaths=**} {
      allow read, write: if isRoot() || isAdmin();
      allow read: if isUser();
    }
  }
}