.nf_avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 40px;
  height: 40px;
  background-color: yellowgreen;
}

.nf_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  color: transparent;
  text-indent: 10000px;
}

.nf_avatar.avatar_content {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  text-align: center;
  transform: translate(50%, -50%);
  white-space: nowrap;
}
