.app {
  background-color: var(--bg-light);
}

.app_wrapper {
  padding: 1rem 0 3rem;
}

.txt_white {
  color: var(--txt-light);
}

.txt_dark {
  color: var(--txt-dark);
}

.flex {
  display: flex;
}

.app_row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.align_center {
  align-items: center;
}

.content_cente {
  justify-content: center;
}

.txt_center {
  text-align: center;
}

.vh_100 {
  min-height: 100vh;
}

.help_button {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  border-radius: 69px;
  background-color: var(--white-color);
}
