@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: ;
  --secondary-color: ;

  --txt-dark: #1b1c1c;
  --txt-light: #fefefe;

  --bg-dark: #1a1a40;
  --bg-light: #f9f9f9;

  --black-color: #030303;
  --white-color: #ffffff;
  --grey-color: #c2c2c2;
  --yellow-color: #ffff33;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--primary-color);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
